%h1 Frothly
.row-fluid
	.span4.offset3
		=link_to 'sign in with twitter', '/auth/twitter', class: 'btn btn-large btn-info'

		=link_to 'Search Tweets', 'https://api.twitter.com/1.1/search/tweets.json?q=%40twitterapi', class: 'btn btn-large btn-info'